In [2]:
# Import packages
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Concatenate Original Datasets

In [3]:
# Read the data from the CSV file
data1 = pd.read_csv("../Data/socialinsider_events_2024-05.csv")
data2 = pd.read_csv("../Data/socialinsider_events_2024-06.csv")
data3 = pd.read_csv("../Data/socialinsider_events_2024-07.csv")
data4 = pd.read_csv("../Data/socialinsider_events_2024-08.csv")
data5 = pd.read_csv("../Data/socialinsider_events_2024-09.csv")
data6 = pd.read_csv("../Data/socialinsider_events_update.csv")

In [4]:
# Concatenate the data
data = pd.concat([data1, data2, data3, data4, data5, data6])

# Sort the data by time_created
data = data.sort_values(by="time_created")

In [5]:
data

,event_name,user_id,time_created,user_type,time_zone,country,view,platform,report_type,load_time
237525,profile load success,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T20:59:17.702Z,trial,Europe/London,Britain (UK),profile,ig,NaN,1.264
237524,section change,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T21:00:06.728Z,trial,Europe/London,Britain (UK),profile,ig,NaN,NaN
237523,compare,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T21:00:06.765Z,trial,Europe/London,Britain (UK),profile,instagram,NaN,NaN
237522,section change,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T21:00:20.243Z,trial,Europe/London,Britain (UK),profile,ig,NaN,NaN
237521,profile visit,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T21:00:27.275Z,trial,Europe/London,Britain (UK),profile,tw,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4,project home click,1a3e72b09a0665ceb870edcd48afc1c0252fd853871a69...,2024-10-08T15:30:18.384Z,trial,Europe/London,Britain (UK),postsfeed,xch,NaN,NaN
3,project home visit,1a3e72b09a0665ceb870edcd48afc1c0252fd853871a69...,2024-10-08T15:30:18.435Z,trial,Europe/London,Britain (UK),projecthome,xch,NaN,NaN
2,profile visit,1a3e72b09a0665ceb870edcd48afc1c0252fd853871a69...,2024-10-08T15:30:22.677Z,trial,Europe/London,Britain (UK),profile,li,NaN,NaN
1,profile load success,1a3e72b09a0665ceb870edcd48afc1c0252fd853871a69...,2024-10-08T15:30:24.123Z,trial,Europe/London,Britain (UK),profile,li,NaN,1.447
0,email open,1c2c66b8b9e6909f3b3885d0780007d504e855da8c41af...,2024-10-08T15:33:19.000Z,expired,NaN,NaN,NaN,NaN,NaN,NaN

### Create a column to determine whether the event is from converted users

In [6]:
# Create a column that show whether the event is successful or not
buy_users = data[
    (data["event_name"] == "New Client") | (data["event_name"] == "Buy Success")
]["user_id"].tolist()
# 1 if the user is in buy_users, 0 otherwise
data["successful"] = data["user_id"].apply(lambda x: 1 if x in buy_users else 0)
data

,event_name,user_id,time_created,user_type,time_zone,country,view,platform,report_type,load_time,successful
237525,profile load success,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T20:59:17.702Z,trial,Europe/London,Britain (UK),profile,ig,NaN,1.264,0
237524,section change,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T21:00:06.728Z,trial,Europe/London,Britain (UK),profile,ig,NaN,NaN,0
237523,compare,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T21:00:06.765Z,trial,Europe/London,Britain (UK),profile,instagram,NaN,NaN,0
237522,section change,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T21:00:20.243Z,trial,Europe/London,Britain (UK),profile,ig,NaN,NaN,0
237521,profile visit,38bd4c351e290c6024d39d44b9a2750ea666eefc9b1069...,2024-04-30T21:00:27.275Z,trial,Europe/London,Britain (UK),profile,tw,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
4,project home click,1a3e72b09a0665ceb870edcd48afc1c0252fd853871a69...,2024-10-08T15:30:18.384Z,trial,Europe/London,Britain (UK),postsfeed,xch,NaN,NaN,0
3,project home visit,1a3e72b09a0665ceb870edcd48afc1c0252fd853871a69...,2024-10-08T15:30:18.435Z,trial,Europe/London,Britain (UK),projecthome,xch,NaN,NaN,0
2,profile visit,1a3e72b09a0665ceb870edcd48afc1c0252fd853871a69...,2024-10-08T15:30:22.677Z,trial,Europe/London,Britain (UK),profile,li,NaN,NaN,0
1,profile load success,1a3e72b09a0665ceb870edcd48afc1c0252fd853871a69...,2024-10-08T15:30:24.123Z,trial,Europe/London,Britain (UK),profile,li,NaN,1.447,0
0,email open,1c2c66b8b9e6909f3b3885d0780007d504e855da8c41af...,2024-10-08T15:33:19.000Z,expired,NaN,NaN,NaN,NaN,NaN,NaN,0

### Convert the timestamp

In [7]:
# create the date that the event was created
data["Date_Created"] = pd.to_datetime(data["time_created"]).dt.date
# create the hour that the event was created
data["Hour_Created"] = pd.to_datetime(data["time_created"]).dt.hour
# create the day of the week that the event was created
data["Day_Of_Week_Created"] = pd.to_datetime(data["time_created"]).dt.day_name()

### Check for Missing Values

In [8]:
data["load_time"].isnull().sum()

964474

### Create Buy Success Event and Unsuccessful Event

In [9]:
buy_users = data[
    (data["event_name"] == "New Client") | (data["event_name"] == "Buy Success")
]["user_id"].tolist()
buy_users_events = data[data["user_id"].isin(buy_users)]
# create a dataset with only the unsuccessful events
not_buy_users_events = data[data["successful"] == 0]

### View in buy success event

In [10]:
# calculate the percentage of views in both successful and not successful events
print(
    "buy success event",
    buy_users_events["view"].value_counts() / len(buy_users_events) * 100,
)
print(
    "not buy success event",
    not_buy_users_events["view"].value_counts() / len(not_buy_users_events) * 100,
)

buy success event view
profile        26.865586
benchmark      17.438864
projecthome     9.489720
brands          5.245977
postsfeed       4.392646
campaigns       2.416815
settings        1.162591
reports         0.876238
upgradeplan     0.870511
hashtag         0.148903
add             0.114541
ads             0.097360
addprofiles     0.057270
proj            0.022908
bench           0.017181
connect         0.005727
Name: count, dtype: float64
not buy success event view
profile        38.249112
benchmark       9.074275
projecthome     7.118378
postsfeed       2.882951
brands          2.521260
campaigns       2.202238
reports         0.723020
upgradeplan     0.641389
hashtag         0.506783
settings        0.227266
add             0.028024
bench           0.027391
proj            0.014193
ads             0.008588
addprofiles     0.007684
search          0.003435
connect         0.001808
page            0.000090
Name: count, dtype: float64

# User Data Transformation

#### Success, event count, and country

In [11]:
user_data = (
    data.groupby("user_id")
    .agg(
        {
            "event_name": "count",  # Count events
            "country": "first",  # Take the first occurrence of country (assuming it's the same for each user)
        }
    )
    .reset_index()
    .rename(columns={"event_name": "event_count"})  # Rename for clarity
    .sort_values(by="event_count", ascending=False)  # Sort by event_count
)

In [12]:
# Convert counties to separate columns if they are in certain countries
user_data["country_United_States"] = user_data["country"].apply(
    lambda x: 1 if x == "United States" else 0
)
user_data["country_Saudi_Arabia"] = user_data["country"].apply(
    lambda x: 1 if x == "Saudi Arabia" else 0
)
user_data["country_India"] = user_data["country"].apply(
    lambda x: 1 if x == "India" else 0
)
user_data["country_Britain"] = user_data["country"].apply(
    lambda x: 1 if x == "Britain (UK)" else 0
)
user_data["country_Italy"] = user_data["country"].apply(
    lambda x: 1 if x == "Italy" else 0
)

In [13]:
# Add the column to show whether the user is successful or not
user_data["successful"] = user_data["user_id"].apply(
    lambda x: 1 if x in buy_users else 0
)
user_data

,user_id,event_count,country,country_United_States,country_Saudi_Arabia,country_India,country_Britain,country_Italy,successful
9786,cd6d41c28b017733e39fc13e4d4ae3b308c6baff52561d...,6973,United States,1,0,0,0,0,0
4248,5929c3eec5a2b12ee4aa911b8093b33ac7b798d59e3b14...,4700,Indonesia,0,0,0,0,0,0
4667,622748abdc404cbf098568074c232b04762d574fa48130...,3925,Ukraine,0,0,0,0,0,0
12016,fd15147418cba03da1908de36ac79bc24589c9d1474716...,3538,Thailand,0,0,0,0,0,0
4411,5c54eb7d3e4821d8e633e7ef23dacafe3f5a6530715510...,3387,Germany,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
11620,f4f9987e642659097752e755b740f7e487f6c252f5be0c...,0,None,0,0,0,0,0,0
11998,fcc49dce067e042b96df3e56d2934e551fa4b45d0dcdb0...,0,None,0,0,0,0,0,0
2075,2a6612b86399adeeb92d2b44603d8736b1dbfcb84ccf24...,0,None,0,0,0,0,0,0
3438,47b984ad5df5c8903bd7a4d7bc5ab2b5e1be3088306803...,0,None,0,0,0,0,0,0
8145,ab43c28c1f69559206e33f5a194fea97a4590790ba5a84...,0,None,0,0,0,0,0,0

#### Transform Load Time

In [14]:
# get the average load time for each client and sort by the average load time
average_load_time = data.groupby("user_id")["load_time"].mean().sort_values()

In [15]:
# add the column to show the average load time for each user
user_data["average_load_time"] = user_data["user_id"].apply(
    lambda x: average_load_time[x] if x in average_load_time else None
)
# Replace missing values in 'average_load_time' with the median
median_load_time = user_data["average_load_time"].median()
user_data["average_load_time"].fillna(median_load_time, inplace=True)

user_data

/var/folders/jl/626fh88x67g5lrn_s42hy_kr0000gn/T/ipykernel_95287/3339932447.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  user_data["average_load_time"].fillna(median_load_time, inplace=True)

,user_id,event_count,country,country_United_States,country_Saudi_Arabia,country_India,country_Britain,country_Italy,successful,average_load_time
9786,cd6d41c28b017733e39fc13e4d4ae3b308c6baff52561d...,6973,United States,1,0,0,0,0,0,1.238146
4248,5929c3eec5a2b12ee4aa911b8093b33ac7b798d59e3b14...,4700,Indonesia,0,0,0,0,0,0,1.040046
4667,622748abdc404cbf098568074c232b04762d574fa48130...,3925,Ukraine,0,0,0,0,0,0,1.823422
12016,fd15147418cba03da1908de36ac79bc24589c9d1474716...,3538,Thailand,0,0,0,0,0,0,1.692242
4411,5c54eb7d3e4821d8e633e7ef23dacafe3f5a6530715510...,3387,Germany,0,0,0,0,0,0,1.908071
...,...,...,...,...,...,...,...,...,...,...
11620,f4f9987e642659097752e755b740f7e487f6c252f5be0c...,0,None,0,0,0,0,0,0,1.789571
11998,fcc49dce067e042b96df3e56d2934e551fa4b45d0dcdb0...,0,None,0,0,0,0,0,0,1.789571
2075,2a6612b86399adeeb92d2b44603d8736b1dbfcb84ccf24...,0,None,0,0,0,0,0,0,1.789571
3438,47b984ad5df5c8903bd7a4d7bc5ab2b5e1be3088306803...,0,None,0,0,0,0,0,0,1.789571
8145,ab43c28c1f69559206e33f5a194fea97a4590790ba5a84...,0,None,0,0,0,0,0,0,1.789571

In [16]:
# get the maximum load time for each client and sort by the maximum load time
max_load_time = data.groupby("user_id")["load_time"].max().sort_values()

In [17]:
# add the column to show the maximum load time for each user
user_data["max_load_time"] = user_data["user_id"].apply(
    lambda x: max_load_time[x] if x in max_load_time else None
)
# Replace missing values in 'max_load_time' with the median
median_max_load_time = user_data["max_load_time"].median()
user_data["max_load_time"].fillna(median_max_load_time, inplace=True)

/var/folders/jl/626fh88x67g5lrn_s42hy_kr0000gn/T/ipykernel_95287/2208719371.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  user_data["max_load_time"].fillna(median_max_load_time, inplace=True)

#### Converted Event

In [18]:
event_counts = (
    data.groupby("user_id")
    .apply(
        lambda x: pd.Series(
            {
                "event_bench_load_success_count": (
                    x["event_name"] == "bench load success"
                ).sum(),
                "event_profile_search_success_count": (
                    x["event_name"] == "profile search success"
                ).sum(),
                "event_add_profile_success_count": (
                    x["event_name"] == "add profile success"
                ).sum(),
                "event_upgrade_plan_count": (x["event_name"] == "upgrade_plan").sum(),
                "event_pricing_model_count": (
                    x["event_name"] == "pricing modal visited"
                ).sum(),
                "event_profile_load_fail_count": (
                    x["event_name"] == "profile load fail"
                ).sum(),
                "event_email_receipt_count": (x["event_name"] == "email receipt").sum(),
            }
        )
    )
    .reset_index()
)

/var/folders/jl/626fh88x67g5lrn_s42hy_kr0000gn/T/ipykernel_95287/638979292.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(

In [19]:
# join the event_counts dataframe on user_data using user_id
user_data = user_data.merge(event_counts, on="user_id", how="left")

In [20]:
user_data

,user_id,event_count,country,country_United_States,country_Saudi_Arabia,country_India,country_Britain,country_Italy,successful,average_load_time,max_load_time,event_bench_load_success_count,event_profile_search_success_count,event_add_profile_success_count,event_upgrade_plan_count,event_pricing_model_count,event_profile_load_fail_count,event_email_receipt_count
0,cd6d41c28b017733e39fc13e4d4ae3b308c6baff52561d...,6973,United States,1,0,0,0,0,0,1.238146,2.277,0,2,1,3,3,3450,1
1,5929c3eec5a2b12ee4aa911b8093b33ac7b798d59e3b14...,4700,Indonesia,0,0,0,0,0,0,1.040046,10.068,1,2,2,1,1,0,4
2,622748abdc404cbf098568074c232b04762d574fa48130...,3925,Ukraine,0,0,0,0,0,0,1.823422,64.181,0,1,3,4,4,1849,1
3,fd15147418cba03da1908de36ac79bc24589c9d1474716...,3538,Thailand,0,0,0,0,0,0,1.692242,5.232,2,2,3,1,1,1,12
4,5c54eb7d3e4821d8e633e7ef23dacafe3f5a6530715510...,3387,Germany,0,0,0,0,0,0,1.908071,5.204,9,35,20,0,0,1572,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12153,f4f9987e642659097752e755b740f7e487f6c252f5be0c...,0,None,0,0,0,0,0,0,1.789571,3.283,0,0,0,0,0,0,0
12154,fcc49dce067e042b96df3e56d2934e551fa4b45d0dcdb0...,0,None,0,0,0,0,0,0,1.789571,3.283,0,0,0,0,0,0,0
12155,2a6612b86399adeeb92d2b44603d8736b1dbfcb84ccf24...,0,None,0,0,0,0,0,0,1.789571,3.283,0,0,0,0,0,0,0
12156,47b984ad5df5c8903bd7a4d7bc5ab2b5e1be3088306803...,0,None,0,0,0,0,0,0,1.789571,3.283,0,0,0,0,0,0,0
12157,ab43c28c1f69559206e33f5a194fea97a4590790ba5a84...,0,None,0,0,0,0,0,0,1.789571,3.283,0,0,0,0,0,0,0

### Transform Platform

In [21]:
# convert to shortcut
data["platform"] = data["platform"].apply(
    lambda x: (
        "fb"
        if x == "facebook" or x == "showFacebook"
        else (
            "tw"
            if x == "twitter"
            else (
                "ig"
                if x == "instagram"
                else (
                    "yt"
                    if x == "youtube"
                    else (
                        "li"
                        if x == "linkedin"
                        else (
                            "tk"
                            if x == "tiktok"
                            else "xch" if x == "cross-platform" else x
                        )
                    )
                )
            )
        )
    )
)

# rename to platform + original name + count
data["platform"] = data["platform"].apply(lambda x: f"platform_{x}_count")

# count
platform_data = (
    data.groupby(["user_id", "platform"]).size().unstack(fill_value=0).reset_index()
)

# merge
user_data = user_data.merge(platform_data, on="user_id", how="left")

In [22]:
# print count of each platform
user_data

,user_id,event_count,country,country_United_States,country_Saudi_Arabia,country_India,country_Britain,country_Italy,successful,average_load_time,...,platform_hashtags_count,platform_ig._count,platform_ig_count,platform_li_count,platform_meta_count,platform_nan_count,platform_tk_count,platform_tw_count,platform_xch_count,platform_yt_count
0,cd6d41c28b017733e39fc13e4d4ae3b308c6baff52561d...,6973,United States,1,0,0,0,0,0,1.238146,...,0,0,6947,0,0,4,0,0,22,0
1,5929c3eec5a2b12ee4aa911b8093b33ac7b798d59e3b14...,4700,Indonesia,0,0,0,0,0,0,1.040046,...,0,0,0,0,0,6,4684,0,10,0
2,622748abdc404cbf098568074c232b04762d574fa48130...,3925,Ukraine,0,0,0,0,0,0,1.823422,...,0,0,3829,0,2,4,0,0,26,0
3,fd15147418cba03da1908de36ac79bc24589c9d1474716...,3538,Thailand,0,0,0,0,0,0,1.692242,...,0,0,79,0,0,18,3370,0,75,0
4,5c54eb7d3e4821d8e633e7ef23dacafe3f5a6530715510...,3387,Germany,0,0,0,0,0,0,1.908071,...,0,0,27,0,0,5,3222,40,93,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12153,f4f9987e642659097752e755b740f7e487f6c252f5be0c...,0,None,0,0,0,0,0,0,1.789571,...,0,0,0,0,0,1,0,0,0,0
12154,fcc49dce067e042b96df3e56d2934e551fa4b45d0dcdb0...,0,None,0,0,0,0,0,0,1.789571,...,0,0,0,0,0,1,0,0,0,0
12155,2a6612b86399adeeb92d2b44603d8736b1dbfcb84ccf24...,0,None,0,0,0,0,0,0,1.789571,...,0,0,0,0,0,2,0,0,0,0
12156,47b984ad5df5c8903bd7a4d7bc5ab2b5e1be3088306803...,0,None,0,0,0,0,0,0,1.789571,...,0,0,0,0,0,2,0,0,0,0
12157,ab43c28c1f69559206e33f5a194fea97a4590790ba5a84...,0,None,0,0,0,0,0,0,1.789571,...,0,0,0,0,0,2,0,0,0,0

In [23]:
# add a column in user_data for total platforms of each user
user_data["platform_total_count"] = user_data.iloc[:, 5:].sum(axis=1)
print(user_data["platform_total_count"].value_counts())

platform_total_count
6.072571      413
9.072571      316
8.072571      307
7.072571      294
10.072571     249
             ...
150.727273      1
201.769067      1
171.376375      1
148.179812      1
133.269364      1
Name: count, Length: 7992, dtype: int64

### Transform View

In [24]:
# rename
data["view"] = data["view"].apply(lambda x: f"view_{x}")

# convert
view_data = data.groupby(["user_id", "view"]).size().unstack(fill_value=0).reset_index()
view_data

view,user_id,view_add,view_addprofiles,view_ads,view_bench,view_benchmark,view_brands,view_campaigns,view_connect,view_hashtag,view_nan,view_page,view_postsfeed,view_profile,view_proj,view_projecthome,view_reports,view_search,view_settings,view_upgradeplan
0,0002d15146772c027a9edb7de110b9f89e306713e17e88...,0,0,0,0,0,0,0,0,0,15,0,0,33,0,9,4,0,0,0
1,00060bf870ad790482c39c36da5372f44d56426d327c36...,0,0,0,0,0,0,0,0,0,124,0,50,0,0,29,0,0,0,0
2,0007e623b14ceefae2ea443c21ec2f35e7b1e588f74641...,0,0,0,0,0,0,0,0,0,13,0,0,14,0,0,2,0,0,0
3,000d86487583845e398c65dfc5fd2cf7cf872c3f64f5fc...,0,0,0,0,0,0,0,0,8,15,0,0,0,0,3,0,0,0,0
4,00195548c17065bb6ae71b927c39e105d221c970ecf15e...,0,0,0,0,0,0,0,0,8,9,0,0,0,0,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12153,ffd7548f01d64eb4625a0fdf522f8a24e455f666066a29...,0,0,0,0,14,0,0,0,0,36,0,0,32,0,9,0,0,0,0
12154,ffd9bf8af2ff5be89bafbc0f81601f0b7885bf7e936996...,0,0,0,0,17,0,5,0,0,29,0,13,71,0,9,1,0,0,0
12155,ffe4b53d23689200a4b17c18a74fed6b4200b0584cc908...,0,0,0,0,35,6,4,0,0,12,0,19,17,0,14,2,0,0,0
12156,ffe6826e951b6732172295389081557ce62af9a251c520...,0,0,0,0,0,0,0,0,0,17,0,0,29,0,2,0,0,0,0
12157,ffec141be95163c3f233778076c9c68ca600d5abd84f2f...,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0

In [25]:
# merge
user_data = user_data.merge(view_data, on="user_id", how="left")

In [26]:
user_data

,user_id,event_count,country,country_United_States,country_Saudi_Arabia,country_India,country_Britain,country_Italy,successful,average_load_time,...,view_nan,view_page,view_postsfeed,view_profile,view_proj,view_projecthome,view_reports,view_search,view_settings,view_upgradeplan
0,cd6d41c28b017733e39fc13e4d4ae3b308c6baff52561d...,6973,United States,1,0,0,0,0,0,1.238146,...,16,0,8,6945,0,2,0,0,0,2
1,5929c3eec5a2b12ee4aa911b8093b33ac7b798d59e3b14...,4700,Indonesia,0,0,0,0,0,0,1.040046,...,19,0,0,4674,0,3,0,0,0,0
2,622748abdc404cbf098568074c232b04762d574fa48130...,3925,Ukraine,0,0,0,0,0,0,1.823422,...,22,0,0,3889,0,11,0,0,0,3
3,fd15147418cba03da1908de36ac79bc24589c9d1474716...,3538,Thailand,0,0,0,0,0,0,1.692242,...,46,0,8,3430,0,38,3,0,0,0
4,5c54eb7d3e4821d8e633e7ef23dacafe3f5a6530715510...,3387,Germany,0,0,0,0,0,0,1.908071,...,126,0,0,3216,0,14,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12153,f4f9987e642659097752e755b740f7e487f6c252f5be0c...,0,None,0,0,0,0,0,0,1.789571,...,1,0,0,0,0,0,0,0,0,0
12154,fcc49dce067e042b96df3e56d2934e551fa4b45d0dcdb0...,0,None,0,0,0,0,0,0,1.789571,...,1,0,0,0,0,0,0,0,0,0
12155,2a6612b86399adeeb92d2b44603d8736b1dbfcb84ccf24...,0,None,0,0,0,0,0,0,1.789571,...,2,0,0,0,0,0,0,0,0,0
12156,47b984ad5df5c8903bd7a4d7bc5ab2b5e1be3088306803...,0,None,0,0,0,0,0,0,1.789571,...,2,0,0,0,0,0,0,0,0,0
12157,ab43c28c1f69559206e33f5a194fea97a4590790ba5a84...,0,None,0,0,0,0,0,0,1.789571,...,2,0,0,0,0,0,0,0,0,0

In [27]:
# print unique columns in user_data
print(user_data.columns)
# print number of columns in user_data
print("Number of columns in user_data:", len(user_data.columns))

Index(['user_id', 'event_count', 'country', 'country_United_States',
       'country_Saudi_Arabia', 'country_India', 'country_Britain',
       'country_Italy', 'successful', 'average_load_time', 'max_load_time',
       'event_bench_load_success_count', 'event_profile_search_success_count',
       'event_add_profile_success_count', 'event_upgrade_plan_count',
       'event_pricing_model_count', 'event_profile_load_fail_count',
       'event_email_receipt_count', 'platform_all_count',
       'platform_brbench_count', 'platform_fb_count',
       'platform_hashtags_count', 'platform_ig._count', 'platform_ig_count',
       'platform_li_count', 'platform_meta_count', 'platform_nan_count',
       'platform_tk_count', 'platform_tw_count', 'platform_xch_count',
       'platform_yt_count', 'platform_total_count', 'view_add',
       'view_addprofiles', 'view_ads', 'view_bench', 'view_benchmark',
       'view_brands', 'view_campaigns', 'view_connect', 'view_hashtag',
       'view_nan', 'view_page', 'view_postsfeed', 'view_profile', 'view_proj',
       'view_projecthome', 'view_reports', 'view_search', 'view_settings',
       'view_upgradeplan'],
      dtype='object')
Number of columns in user_data: 51

## Export Data as CSV

In [28]:
# # export user_data to csv
# user_data.to_csv("user_data.csv", index=False)

In [29]:
user_data

,user_id,event_count,country,country_United_States,country_Saudi_Arabia,country_India,country_Britain,country_Italy,successful,average_load_time,...,view_nan,view_page,view_postsfeed,view_profile,view_proj,view_projecthome,view_reports,view_search,view_settings,view_upgradeplan
0,cd6d41c28b017733e39fc13e4d4ae3b308c6baff52561d...,6973,United States,1,0,0,0,0,0,1.238146,...,16,0,8,6945,0,2,0,0,0,2
1,5929c3eec5a2b12ee4aa911b8093b33ac7b798d59e3b14...,4700,Indonesia,0,0,0,0,0,0,1.040046,...,19,0,0,4674,0,3,0,0,0,0
2,622748abdc404cbf098568074c232b04762d574fa48130...,3925,Ukraine,0,0,0,0,0,0,1.823422,...,22,0,0,3889,0,11,0,0,0,3
3,fd15147418cba03da1908de36ac79bc24589c9d1474716...,3538,Thailand,0,0,0,0,0,0,1.692242,...,46,0,8,3430,0,38,3,0,0,0
4,5c54eb7d3e4821d8e633e7ef23dacafe3f5a6530715510...,3387,Germany,0,0,0,0,0,0,1.908071,...,126,0,0,3216,0,14,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12153,f4f9987e642659097752e755b740f7e487f6c252f5be0c...,0,None,0,0,0,0,0,0,1.789571,...,1,0,0,0,0,0,0,0,0,0
12154,fcc49dce067e042b96df3e56d2934e551fa4b45d0dcdb0...,0,None,0,0,0,0,0,0,1.789571,...,1,0,0,0,0,0,0,0,0,0
12155,2a6612b86399adeeb92d2b44603d8736b1dbfcb84ccf24...,0,None,0,0,0,0,0,0,1.789571,...,2,0,0,0,0,0,0,0,0,0
12156,47b984ad5df5c8903bd7a4d7bc5ab2b5e1be3088306803...,0,None,0,0,0,0,0,0,1.789571,...,2,0,0,0,0,0,0,0,0,0
12157,ab43c28c1f69559206e33f5a194fea97a4590790ba5a84...,0,None,0,0,0,0,0,0,1.789571,...,2,0,0,0,0,0,0,0,0,0

## Train Test Split

In [30]:
user_data_train = user_data.drop(["user_id", "country"], axis=1)

In [31]:
user_data_train.isnull().sum()

event_count                           0
country_United_States                 0
country_Saudi_Arabia                  0
country_India                         0
country_Britain                       0
country_Italy                         0
successful                            0
average_load_time                     0
max_load_time                         0
event_bench_load_success_count        0
event_profile_search_success_count    0
event_add_profile_success_count       0
event_upgrade_plan_count              0
event_pricing_model_count             0
event_profile_load_fail_count         0
event_email_receipt_count             0
platform_all_count                    0
platform_brbench_count                0
platform_fb_count                     0
platform_hashtags_count               0
platform_ig._count                    0
platform_ig_count                     0
platform_li_count                     0
platform_meta_count                   0
platform_nan_count                    0
platform_tk_count                     0
platform_tw_count                     0
platform_xch_count                    0
platform_yt_count                     0
platform_total_count                  0
view_add                              0
view_addprofiles                      0
view_ads                              0
view_bench                            0
view_benchmark                        0
view_brands                           0
view_campaigns                        0
view_connect                          0
view_hashtag                          0
view_nan                              0
view_page                             0
view_postsfeed                        0
view_profile                          0
view_proj                             0
view_projecthome                      0
view_reports                          0
view_search                           0
view_settings                         0
view_upgradeplan                      0
dtype: int64

In [56]:
from sklearn.model_selection import train_test_split

# Assuming you have a DataFrame `df` with features `X` and a target column `y`
X = user_data_train.drop("successful", axis=1)
y = user_data_train["successful"]

# Perform train-test split, with 80% of the data used for training and 20% for testing
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=10
)

# Now you have your train and test datasets ready
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(9726, 48) (2432, 48) (9726,) (2432,)

In [61]:
# Conversion rate in the training set
y_train.sum() / len(y_train)

0.01089862224964014

In [62]:
# Conversion rate in the test set
y_test.sum() / len(y_test)

0.012335526315789474

In [63]:
len(y_test)

2432

In [60]:
# Save the train and test datasets to CSV files
X_train.to_csv("../Transformed_Data/X_train.csv", index=False)
X_test.to_csv("../Transformed_Data/X_test.csv", index=False)
y_train.to_csv("../Transformed_Data/y_train.csv", index=False)
y_test.to_csv("../Transformed_Data/y_test.csv", index=False)